
.movie-detail {
  color: #333;
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: auto;
}

.movie-backdrop {
  position: relative;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.movie-title h1 {
  font-size: 2.5rem;
  margin: 0;
  color: black ;

}

.movie-tagline {
  font-style: italic;
  font-size: 1.2rem;
  color: #a1a1a1;
}

.movie-info {
  display: flex;
  gap: 20px;
}

.movie-poster {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.movie-details {
  flex: 1;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.movie-details p {
  margin: 10px;
}

.average-rating:before {
  content: "★";
  font-size: 1.2rem;
  color: gold;
  margin-right: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
}


a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.reviews-info{
  margin-top: 2rem;
}
.reviews-header {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 20px; 
}

.add-review-btn {
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: white;
  color: rgb(80, 80, 117);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-review-btn:hover {
  background-color: #878888;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.close-modal:hover {
  color: red;
}


.genre-tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.genre-tag {
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

/* tag color */
.genre-tag {
  background-color: #888;
}

/* color designed */
.genre-28 { background-color: #FF5733; } /* Action */
.genre-12 { background-color: #33C3FF; } /* Abenteuer */
.genre-16 { background-color: #a85bc9; } /* Animation */
.genre-35 { background-color: #FFC300; } /* Komödie */
.genre-80 { background-color: #C70039; } /* Krimi */
.genre-99 { background-color: #34495E; } /* Dokumentarfilm */
.genre-18 { background-color: #27AE60; } /* Drama */
.genre-10751 { background-color: #F1C40F; } /* Familie */
.genre-14 { background-color: #8d50a5; } /* Fantasy */
.genre-36 { background-color: #2C3E50; } /* Historie */
.genre-27 { background-color: #E74C3C; } /* Horror */
.genre-10402 { background-color: #1ABC9C; } /* Musik */
.genre-9648 { background-color: #7F8C8D; } /* Mystery */
.genre-10749 { background-color: #F39C12; } /* Liebesfilm */
.genre-878 { background-color: #2980B9; } /* Science Fiction */
.genre-10770 { background-color: #8E44AD; } /* TV-Film */
.genre-53 { background-color: #D35400; } /* Thriller */
.genre-10752 { background-color: #253444; } /* Kriegsfilm */
.genre-37 { background-color: #bf7e16; } /* Western */

.add-group-button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-group-button:hover {
  background-color: #0056b3;
  color: #fff;
}