.favorite-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.8rem; 
  outline: none;
  margin: 0%;
  padding: 0%;
}

.heart-icon {
  color: rgb(158, 156, 156); 
  transition: color 0.3s ease;
}

.heart-icon.favorite {
  color: red; 
}
