/* src/components/Header.css */
.header {
  background-color:lightgray;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Layout for logo, search, and user options */
.header-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
}

.homeIcon{
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: left;
}

.profileIcon{
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: right;
}

/* Centering the filters */
.header-filters {
  margin-left: 9rem;
  flex: 1;
  display: flex;
  justify-content:center;
}

.login{
  justify-content: center;
  color: black;
  margin: 0 1rem;
}

.filter-button{
  background-color: #232323;
  color: white;
  width: 100px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-content{
  color: black;
}

/* Mobile styles */
@media (max-width: 768px) {
  .header-content {
    flex-direction: row;
    align-items: center;
  }

  /* Filter tags become a dropdown menu */
  .filter-tags-desktop {
    display: none;  /* Hide the default filter tags below SearchBar */
  }

  .filter-menu-toggle {
    display: inline;  /* Show menu toggle button */
    margin-left: 1rem;
  }

  .filter-menu {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #333;
    padding: 1rem;
    border-radius: 10px;
  }
}

