
.my-review-list {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9; 
  color: #333;
  margin-top: 20px;
  max-width: 1000px; 
  margin-left: auto; 
  margin-right: auto; 
}

.my-review-list .review-item {
  display: flex;
  flex-direction: column; 
  gap: 15px;
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
}

.my-review-list .review-item:last-child {
  border-bottom: none;
}

.my-review-list .movie-info-container {
  display: flex;
  flex-direction: row; 
  align-items: flex-start; 
  gap: 15px;
}

.my-review-list .movie-poster {
  width: 40%;
  max-width: 80px; 
  height: auto; 
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.my-review-list .review-info {
  flex: 1; 
  display: flex;
  flex-direction: column;
}


.my-review-list .movie-title {
  font-size: 1rem;
  margin: 0;
  color: #333; 
}

.my-review-list .release-runtime {
  font-size: 0.8rem;
  color: #555;
  margin: 10px 0;
  margin-top: 20px;
  font-weight: bold;
}


.my-review-list .movie-details {
  display: flex;
  gap: 20px;
  font-size: 0.9rem;
  color: #555;
  margin: 5px 0;
}

.my-review-list .movie-details .avr-rating,
.my-review-list .movie-details .my-rating {
  font-weight: bold;
}

.my-review-list .avr-rating:before {
  content: "★";
  font-size: 1rem;
  color: gold;
  margin-right: 0px;
}

.my-review-list .my-rating:before {
  content: "★";
  font-size: 1rem;
  color: blue;
  margin-left: 15px;
}

.my-review-list .review-comment {
  margin: 10px 0;
  font-size: 0.9rem;
  color: #555;
  line-height: 1.5;
  max-height: 4.5em; 
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  text-overflow: ellipsis; 
}


.my-review-list .review-footer {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  font-size: 0.8rem;
  color: #888;
}


.my-review-list .review-footer .details-link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.my-review-list .review-footer .details-link:hover {
  text-decoration: underline;
}


.my-review-list .review-footer .review-time {
  font-style: italic;
}

.delete-button {
  padding: 5px 10px;
  font-size: 14px;
  color: #fff;
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c82333;
}


.my-review-list .filter-sort-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}


.my-review-list .sort-options {
  display: flex;
  align-items: center;
  gap: 10px;
}

.my-review-list .sort-options label {
  font-weight: bold;
}

.my-review-list .sort-options select {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.my-review-list .sort-order-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1rem;
}

.my-review-list .sort-order-button:hover {
  background-color: #0056b3;
}


.my-review-list .search-input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  flex: 0.3; 
}


@media (min-width: 768px) {
  .my-review-list .review-item {
    flex-direction: column; 
  }

  .my-review-list .movie-info-container {
    flex-direction: row; 
    gap: 20px;
  }

  .my-review-list .movie-poster {
    max-width: 120px; 
  }

  .my-review-list .review-info {
    padding-left: 40px; 
  }

  .my-review-list .movie-title {
    font-size: 1.8rem; 
  }

  .my-review-list .movie-details {
    font-size: 1.2rem;  
  }

  .my-review-list .release-runtime {
    font-size: 1.2rem; 
  }

  .my-review-list .review-comment {
    font-size: 1.2rem; 
  }

  .my-review-list .review-footer .review-time {
    font-size: 1.2rem;
  }

  .my-review-list .review-footer .details-link {
    font-size: 1.2rem; 
  }
  
}



